Life_Expectancy_AutoAI_NodeRed.json
[{"id":"348a8b48.88c0e4","type":"tab","label":"Life_Expectancy_AutoAI_NodeRed","disabled":false,"info":""},{"id":"added79b.0f6bf8","type":"http request","z":"348a8b48.88c0e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":160,"wires":[["dcd12810.7fa1b8"]]},{"id":"dcd12810.7fa1b8","type":"function","z":"348a8b48.88c0e4","name":"Pre Prediction","func":"var Country= global.get('Country')\nvar Year= global.get('Year')\nvar Status= global.get('Status')\nvar Adult_Mortality= global.get('Adult_Mortality')\nvar infant_deaths= global.get('infant_deaths')\nvar Alcohol= global.get('Alcohol')\nvar percentage_expenditure= global.get('percentage_expenditure')\nvar Hepatitis_B= global.get('Hepatitis_B')\nvar Measles = global.get('Measles')\nvar BMI = global.get('BMI')\nvar under_five_deaths = global.get('under_five_deaths')\nvar Polio= global.get('Polio')\nvar Total_expenditure= global.get('Total_expenditure')\nvar Diphtheria = global.get('Diphtheria')\nvar HIV_AIDS= global.get('HIV_AIDS')\nvar GDP= global.get('GDP')\nvar Population= global.get('Population')\nvar thinness_1_19_years= global.get('thinness_1_19_years')\nvar thinness_5_9_years= global.get('thinness_5_9_years')\nvar Income_composition_of_resources= global.get('Income_composition_of_resources')\nvar Schooling= global.get('Schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"8e695188-f295-4ce3-babd-97f02b91a675\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult_Mortality\",\"infant_deaths\", \"Alcohol\",\n\"percentage_expenditure\", \"Hepatitis_B\",\"Measles\", \"BMI\", \"under_five_deaths\", \"Polio\",\"Total_expenditure\", \"Diphtheria\",\n\"HIV_AIDS\", \"GDP\", \"Population\",\"thinness_1_19_years\", \"thinness_5_9_years\",\n\"Income_composition_of_resources\",\"Schooling\"],\n\"values\": [[Country, Year, Status,Adult_Mortality,infant_deaths,Alcohol,\npercentage_expenditure, Hepatitis_B,Measles,BMI,under_five_deaths,Polio,Total_expenditure,Diphtheria,\nHIV_AIDS, GDP,Population,thinness_1_19_years,thinness_5_9_years,\nIncome_composition_of_resources,Schooling]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["25fdf0aa.be713","844587d0.6405a8"]]},{"id":"25fdf0aa.be713","type":"http request","z":"348a8b48.88c0e4","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/053036f8-b702-4b1a-9682-d995ff61dac4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":160,"wires":[["4cc51853.b7c958"]]},{"id":"40ba9d73.ebb804","type":"ui_text","z":"348a8b48.88c0e4","group":"19a1ee07.974572","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":40,"wires":[]},{"id":"4cc51853.b7c958","type":"function","z":"348a8b48.88c0e4","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":60,"wires":[["40ba9d73.ebb804","981d1181.4728d"]]},{"id":"a3de1d5f.9f5e8","type":"ui_form","z":"348a8b48.88c0e4","name":"Life Expectancy Label","label":"","group":"19a1ee07.974572","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":160,"y":300,"wires":[["fbac8229.74348"]]},{"id":"fbac8229.74348","type":"function","z":"348a8b48.88c0e4","name":"","func":"global.set(\"Country\",msg.payload.a)\nglobal.set(\"Year\",msg.payload.b)\nglobal.set(\"Status\",msg.payload.c)\nglobal.set(\"Adult_Mortality\",msg.payload.d)\nglobal.set(\"infant_deaths\",msg.payload.e)\nglobal.set(\"Alcohol\",msg.payload.f)\nglobal.set(\"percentage_expenditure\",msg.payload.g)\nglobal.set(\"Hepatitis_B\",msg.payload.h)\nglobal.set(\"Measles\",msg.payload.i)\nglobal.set(\"BMI\",msg.payload.j)\nglobal.set(\"under_five_deaths\",msg.payload.k)\nglobal.set(\"Polio\",msg.payload.l)\nglobal.set(\"Total_expenditure\",msg.payload.m)\nglobal.set(\"Diphtheria\",msg.payload.n)\nglobal.set(\"HIV_AIDS\",msg.payload.o)\nglobal.set(\"GDP\",msg.payload.p)\nglobal.set(\"Population\",msg.payload.q)\nglobal.set(\"thinness_1_19_years\",msg.payload.r)\nglobal.set(\"thinness_5_9_years\",msg.payload.s)\nglobal.set(\"Income_composition_of_resources\",msg.payload.t)\nglobal.set(\"Schooling\",msg.payload.u)\nvar apikey=\"ygZXAVc2ulr1aXyVet3ZwRxNugAKZLYHRDxJAtK6m1ik\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":80,"wires":[["added79b.0f6bf8"]]},{"id":"981d1181.4728d","type":"debug","z":"348a8b48.88c0e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":140,"wires":[]},{"id":"844587d0.6405a8","type":"debug","z":"348a8b48.88c0e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":400,"wires":[]},{"id":"19a1ee07.974572","type":"ui_group","z":"","name":"Life Expectancy","tab":"7921aca8.9c9d44","order":1,"disp":true,"width":"6","collapse":false},{"id":"7921aca8.9c9d44","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]